* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
}


.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
}

.sidebar ul {

    margin-top: 20px;
}

.sidebar ul li {
    margin: 15px;
}


.main-content {
    flex: 1;
    padding: 20px;
    background-color: grey;
}


.cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    flex: 1;
    border: 1px solid blueviolet;
    padding: 20px;
    margin: 10px ;
    background-color: white;
}

